* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.post {
  height: 150px;
  margin-top: 10px;
}

.post input {
  width: 250px;
  height: 40px;
  margin-left: 10px;
}
.btn {
  display: inline-block;
  text-align: center;
  margin-left: 10px;
  height: 40px;
  width: 80px;
  cursor: pointer;
}
.content {
  width: 700px;
  margin: auto;
  text-align: left;
  height: 175px;
  border: 1px solid black;
  position: relative;
  padding-top: 20px;
  margin-top: 15px;
  background-color: rgb(253, 249, 249);
}
.content h1 {
  margin-left: 15px;
}
.content p {
  margin-left: 15px;
}
.buutons {
  position: absolute;
  top: 70px;
  right: 30px;
}
.buutons button {
  height: 35px;
  width: 80px;
  margin-left: 5px;
}
.no-posts {
  margin-top: 50px;
}
.edit {
  margin-top: 40px;
  margin-left: 4px;
}
.edit .edit-input {
  height: 30px;
  width: 237px;
}
.edit button {
  height: 30px;
  margin-left: 5px;
  width: 80px;
}
nav {
  height: 80px;
  background-color: black;
  color: white;
  text-align: center;
  margin-bottom: 50px;
}

nav .title-nav {
  padding-top: 20px;
}
